[Unit]
Description=Mav
After=network-online.target
Wants=network-online.target
[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/arp
ExecStart=/home/pi/arp/mavrun.sh 2>&1 | tee arp.log

[Install]
WantedBy=multi-user.target
